html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}
svg{
  width: 50px;
  height: 50px;
  fill:whitesmoke;
  stroke:darkgray;
}
form{
  direction:rtl;
  display:inline-block;
}
input{
  display:none;
}
input:hover ~ label svg{
  fill:rgb(247, 246, 179)
}
input:checked ~ label svg{
  fill: rgb(247, 226, 179);
}

